.file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.file {
    width: 600px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4e4de;
    padding: 24px;
}

.predefined-text {
    display: flex;
    flex-wrap: wrap;
    color: #333;
    margin-bottom: 20px;
}

.file .input {
    width: 611px;
    max-height: 200px;
    margin: 0px;
    height: 94px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

.btn {
    background-color: #1976d2;
    border: none;
    color: #fff;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 3px;
}

.error-message {
    text-align: center;
    color: red;
}
