.word {
    padding-right: 4px;
    cursor: pointer;
}

.word.bold {
    font-weight: 600;
}

.word.itallic {
    font-style: italic;
}

.word.underlined {
    text-decoration: underline;
}

.word.active {
    color: #1976d2;
}